@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Google+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}

body {
  transition: background-color 0.5s ease;
}

body.light-mode {
  background-color: #ffffff;
  color: #000000;
}

/* Styles for dark mode */
body.dark-mode {
  background-color: #222F80;
  color: #ffffff;
}

.my-Header {
  display: flex;
  flex-wrap: wrap;
  background-color: #EEEEEE;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  font-size: 1rem;
}

.lastupdated, .skip-main-content p {
  margin-bottom: 0;
}

.skip-main-content {
  display: flex;
  color: #000;
  gap: 0.5rem;
}

.light, .dark {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  cursor: pointer;
}

.dark {
  background-color: #222F80;
  color: #FFFFFF;
}

.zoom {
  display: flex;
  gap: 0.5rem;
}

.A, .A1, .A2 {
  cursor: pointer;
}

select {
  background-color: #EEEEEE;
  outline: none;
  border: none;
}

.fa-twitter {
  color: #00ACED;
  width: 21px;
  height: 17px;
}

.fa-facebook-f {
  color: #4C6CB3;
  width: 21px;
  height: 17px;
}

.navigation-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 0.5rem;
}

.navigation-bar a {
  text-decoration: none;
}

.navigation-bar a:hover {
  color: #000;
}

.btn1, .btn2 {
  padding: 0.5rem;
  width: 80px;
  border: none;
  border-radius: 8px;
}

.btn1 {
  background-color: #BFBFBF;
}

.btn2 {
  background-color: #010066;
  color: #FFFFFF;
}

.navbutton {
  display: flex;
  gap: 1rem;
}

.parent-hero {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.hero-section {
  display: flex;
  background-image: url(../images/Mask\ Group.png);
  min-height: 700px;
  height: auto;
  background-position: center right;
  background-repeat: no-repeat;
  margin-right: 7.5rem;
}

.aero-India {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section img {
  display: none;
}

.aero-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background-color: rgba(255, 255, 255, 0.4);
  opacity: 1;
  padding: 1.5rem;
  width: 420px;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  z-index: 100;
}

.aero-Heading {
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-size: 3rem;
  color: #010066;
}

.all-dots {
  position: relative;
  top: 20px;
  left: 200px;
  display: flex;
  flex-wrap: wrap;
  max-width: 5.673rem;
  max-height: 6.581rem;
  gap: 0.8rem;
}

.dots {
  width: 4px;
  height: 4px;
  background-color: #00C7EE;
  display: inline-block;
  border-radius: 50%;
  z-index: 999;
}

.row-dot {
  display: flex;
  gap: 1rem;
}

.hero-para {
  color: #5F5F64;
  padding-top: 0.8rem;
  font-family: "Google Sans", sans-serif;
}

.aero-India button {
  background-color: #010066;
  border: none;
  color: white;
  padding: 0.7rem;
  border-radius: 50px;
  margin-top: 1rem;
}

.numbers-that-matter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  gap: 4rem;
}

.number-matter {
  width: 35%;
}

.number-matter h2 {
  font-weight: 700;
}

.number-matter p {
  font-weight: 300;
}

.numbers-p {
  display: flex;
  gap: 1rem;
}

.number-matter .v1 {
  border: 1px solid #DA0000;
  width: 0px;
  height: 69px;
  opacity: 0.5;
}

.numbers-data {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 450px;
}

.my-card {
  text-align: center;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  color: #00179B;
  align-items: center;
  flex-direction: column;
  background: #DDE1F8 0% 0% no-repeat padding-box;
  box-shadow: 5px 9px 22px rgba(0, 0, 0, 0.1882352941);
  border-radius: 15px;
  opacity: 1;
  width: 180px;
  position: absolute;
  height: 164px;
}

.card1 {
  right: 317px;
  top: 30px;
}

.card2 {
  background: #F9D4DD 0% 0% no-repeat padding-box;
  color: #850020;
  top: 140px;
  right: 170px;
  z-index: 1;
}

.card3 {
  background: #FFE5A4 0% 0% no-repeat padding-box;
  color: #805B00;
  left: 294px;
  top: 245px;
}

.card4 {
  background: #C7F7EA 0% 0% no-repeat padding-box;
  color: #007A59;
  left: 260px;
  top: 0px;
}

.card5 {
  background: #EED5FF 0% 0% no-repeat padding-box;
  color: #4C0080;
  top: 275px;
  left: 20px;
}

.my-card h3 {
  font-weight: 700;
}

.explore-by-zone {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent linear-gradient(180deg, #384EB2 0%, #0B09E1 100%) 0% 0% no-repeat padding-box;
  opacity: 0.88;
  margin-top: 2rem;
  padding: 3rem;
  color: #fff;
}

.explore-content {
  width: 50%;
}

.explore h2 {
  font-weight: 700;
}

.v2 {
  border: 1px solid #FFF;
  width: 0px;
  height: 69px;
  opacity: 1;
}

.v2-p {
  display: flex;
  gap: 1rem;
}

.v2-p p {
  font-weight: 300;
}

.explore {
  width: 80%;
}

.explore-data {
  display: flex;
  gap: 1.5rem;
  position: relative;
}

.explore-data-image {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 6rem;
}

.overall-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overall-data hr {
  width: 100%;
  color: #fff;
  opacity: 100%;
  margin: 0;
}

.explore-data .v2 {
  height: 150px;
}

.explore-data h3 {
  font-size: 35px;
  font-weight: 700;
}

.explore-data p {
  font-size: 1rem;
  font-weight: 700;
  white-space: nowrap;
}

.data {
  padding: 1rem;
}

.explore-data-image img {
  height: 450px;
}

.dpsu-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dpsu {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.dpsu-content {
  display: flex;
  width: 40%;
  align-items: start;
  flex-direction: column;
}

.dpsu-content h2 {
  font-weight: 700;
}

.dpsu-content h3 {
  color: #DA0000;
}

.dpsu-content .v1 {
  border: 1px solid #DA0000;
  width: 0px;
  height: 69px;
  opacity: 0.5;
}

.dpsu-content .v1-p {
  display: flex;
  gap: 1rem;
}

.dpsu-content button {
  background-color: #010066;
  border: none;
  color: white;
  padding: 0.7rem;
  border-radius: 50px;
  margin-top: 1rem;
}

.dpsu-image {
  position: relative;
  display: inline-block;
  background-color: #2627D3;
  width: 30%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.laptop-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 20px;
  font-family: "Arial", sans-serif;
  text-align: center;
  max-width: 80%;
}

.laptop-content .explore-data {
  gap: 0;
}

.laptop-content .explore-data .v2 {
  height: 122px;
}

.laptop-content .explore-data h3 {
  white-space: nowrap;
}

.laptop-content .overall-data hr {
  width: 420px;
}

.idex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}

.idex {
  width: 100%;
  height: auto;
  position: relative;
}

.left-container {
  float: left;
  position: absolute;
  top: 70px;
  background: transparent linear-gradient(180deg, #0AC7DF 0%, #43DDF1 100%) 0% 0% no-repeat padding-box;
  opacity: 0.9;
  padding: 2rem;
  position: relative;
}

.idex-img {
  position: relative;
  left: 150px;
  bottom: 100px;
  z-index: 1;
}

.right-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #E9E9E9 0% 0% no-repeat padding-box;
  opacity: 0.9;
  z-index: -1;
  padding: 5rem;
}

.right-idex {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 60%;
}

.right-idex h2 {
  font-weight: 700;
}

#idex-para {
  font-weight: 300;
}

.idex .v1 {
  border: 1px solid #DA0000;
  width: 0px;
  height: 69px;
  opacity: 0.5;
}

.idex .v1-p {
  display: flex;
  gap: 1rem;
  font-weight: 500;
}

.idex-btn1 {
  background-color: #010066;
  border: none;
  color: white;
  padding: 0.7rem;
  border-radius: 21px;
  margin-top: 1rem;
}

.idex-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.idex-btn2 {
  border: 1px solid #000000;
  border-radius: 21px;
  opacity: 1;
  margin-top: 1rem;
  padding: 0.7rem;
}

.what-we-do {
  font-family: Poppins, sans-serif;
  display: flex;
}

.we-do {
  display: flex;
  justify-content: space-between;
  gap: 0rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-left: 4rem;
  width: 100%;
  margin-top: 5rem;
}

.v2-p {
  display: flex;
}

.content h2 {
  font-size: 2.625rem;
  font-weight: 700;
}

.content p {
  font-size: 1rem;
  font-weight: 300;
  width: 100%;
}

.content .v2 {
  border: 1px solid #DA0000;
}

.content-cards {
  display: flex;
  width: 140%;
  padding: 1rem;
  margin-top: 7rem;
  gap: 1.5rem;
  color: #000;
  overflow: hidden;
}

.content-card {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  opacity: 1;
  min-width: 18rem;
  height: 26.188rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1.5rem;
  gap: 1rem;
  transition: transform 0.3s ease;
}

.content-card:hover {
  transform: scale(1.05);
}

.content button {
  background-color: #010066;
  border: none;
  color: white;
  padding: 0.7rem;
  border-radius: 50px;
  margin-top: 1rem;
}

.icon-class {
  display: flex;
  position: relative;
  top: 50px;
  left: 650px;
  gap: 1rem;
  font-size: 1.5rem;
}

.icon-class .fa-arrow-left {
  color: #FF8585;
}

.icon-class .fa-arrow-right {
  color: #DA0000;
}

.latest-updates {
  margin-top: 3rem;
  background-image: url(../images/Group\ 41109.png);
  background-size: cover;
  padding: 5rem;
  display: flex;
  background-position: center center;
  justify-content: center;
  align-items: center;
}

.latest-card {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;
  padding: 4rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.latest-card h2 {
  font-weight: 700;
}

.latest-card span {
  color: #DA0000;
}

.routing {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.routing p {
  transition: color 0.3s, border-color 0.3s;
  border-bottom: 2px solid transparent;
  color: #000;
  margin-bottom: 0;
}

.routing p:hover {
  border-color: #DA0000;
  color: #DA0000;
  opacity: 100%;
  cursor: pointer;
}

.route {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.overall-container {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.container1 {
  display: flex;
  flex-direction: column;
  width: 370px;
  height: 435px;
  padding: 1rem;
  border: 1px solid #D4D4D4;
}

.add-sec1 {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 0.5px solid #BFBFBF;
  opacity: 1;
  padding: 1rem;
  width: 237px;
}

.add-sec {
  color: #fff;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  width: 237px;
  background: var(--unnamed-color-da0000) 0% 0% no-repeat padding-box;
  background: #DA0000 0% 0% no-repeat padding-box;
  border: 0.5px solid #BFBFBF;
  opacity: 1;
}

.add-sec p {
  margin-bottom: 0;
}

.container2 {
  display: flex;
  flex-wrap: wrap;
}

.sub-container2 {
  display: flex;
  flex-direction: column;
}

.date {
  color: #A8A8A8;
}

.msme {
  display: flex;
  justify-content: center;
  width: 237px;
  padding: 1rem;
  flex-direction: column;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 0.5px solid #BFBFBF;
  opacity: 1;
}

.core-obj {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  background-image: url(../images/Path\ 3765.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.core {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
}

.core h2 {
  font-weight: 700;
}

.core-cards {
  display: flex;
  gap: 2rem;
  margin-top: 4rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.core-card img {
  padding: 2rem;
}

.core-card {
  width: 410px;
  height: 400px;
  color: #000;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1607843137);
  border-radius: 15px;
  opacity: 1;
  padding: 3rem;
}

.our-partners {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.our {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.our-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 50%;
}

.our-content h2 {
  font-weight: 700;
}

.our-content button {
  background-color: #010066;
  border: none;
  color: white;
  padding: 0.7rem;
  border-radius: 50px;
  margin-top: 1rem;
}

.our-content .v1 {
  border: 1px solid #DA0000;
  width: 0px;
  height: 69px;
  opacity: 0.5;
}

.our-content .v1-p {
  display: flex;
  gap: 1rem;
}

.logo-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  padding: 5rem;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Poppins, sans-serif;
  align-items: center;
  color: #fff;
  background-color: #031B4E;
  height: auto;
  padding: 6rem;
}

.my-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.my-footer img {
  -o-object-fit: contain;
     object-fit: contain;
}

.my-footer .v2 {
  border: 0.5px solid #C1C1C1;
  opacity: 1;
  height: 9.125rem;
}

.useful-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.useful-links h5 {
  font-size: 1.063rem;
  font-weight: 700;
}

.useful-links ul {
  font-size: 0.875rem;
  font-weight: 300;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

footer li {
  position: relative;
  margin-bottom: 5px;
}

footer li::before {
  content: "";
  border-color: transparent #fff;
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
  display: inline-block;
  height: 0;
  width: 0;
  margin-right: 0.5em; /* Adjust the spacing between the bullet and text */
  position: relative;
}

.other {
  margin-left: 4rem;
  font-weight: 300;
}

.social-icons {
  display: flex;
  gap: 1rem;
}

.social-icons i {
  background: #00A9E7 0% 0% no-repeat padding-box;
  opacity: 1;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.other a {
  color: #fff;
  font-size: 0.875rem;
}

.subscribe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.subscribe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00a9e7;
  opacity: 1;
  height: auto;
  width: 80%;
  position: absolute;
  padding: 1rem 3rem;
}

.subscribe-container h4 {
  font-size: 1.5rem;
  color: white;
}

.email {
  display: flex;
  justify-content: center;
  width: 100%;
}

.email input {
  background-color: #40bfed;
  width: 100%;
  border: none;
  padding: 0.5rem;
  font-weight: 500;
  outline: none;
}

.email input::-moz-placeholder {
  color: white;
  font-family: Poppins, sans-serif;
  font-weight: 500;
}

.email input::placeholder {
  color: white;
  font-family: Poppins, sans-serif;
  font-weight: 500;
}

.email button {
  text-align: center;
  border: none;
  letter-spacing: 0.08px;
  color: #031B4E;
  opacity: 1;
  padding: 0.5rem;
  white-space: nowrap;
  font-family: Poppins, sans-serif;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .aero-content {
    width: 100%;
  }
  .hero-section img {
    display: block;
  }
  .all-dots {
    display: none;
  }
  .hero-section {
    display: flex;
    flex-direction: column;
    margin-right: 0;
  }
  .aero-India {
    display: flex;
    width: 100%;
  }
  .aero-content {
    position: relative;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.4);
    opacity: 1;
    padding: 1.5rem;
    margin-top: 0rem;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    z-index: 100;
  }
  .numbers-that-matter {
    flex-direction: column;
  }
  .number-matter {
    width: 80%;
  }
  .explore-data-image {
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
  }
  .explore-content {
    width: 100%;
  }
  .dpsu {
    flex-direction: column;
    margin-top: 1rem;
  }
  .dpsu-content {
    width: 80%;
    padding: 1rem;
  }
  .dpsu-image {
    width: 0;
    height: auto;
  }
  .left-container {
    top: 0;
    width: 100%;
  }
  .idex-img {
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .idex-img img {
    width: 80%;
  }
  .idex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .right-idex {
    width: 100%;
    padding: 1rem;
  }
  .what-we-do {
    font-family: Poppins, sans-serif;
    display: flex;
  }
  .we-do {
    flex-direction: column;
    align-self: center;
    justify-content: center;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 7rem;
    width: 100%;
  }
  .v2-p {
    display: flex;
  }
  .content h2 {
    font-size: 2.625rem;
    font-weight: 700;
  }
  .content p {
    font-size: 1rem;
    font-weight: 300;
    width: 100%;
  }
  .content .v2 {
    border: 1px solid #DA0000;
  }
  .content-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem;
    margin-top: 4rem;
    gap: 1.5rem;
    color: #000;
    overflow: hidden;
  }
  .content-card {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    opacity: 1;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1.5rem;
    gap: 1rem;
    transition: transform 0.3s ease;
  }
  .content-card:hover {
    transform: scale(1.05);
  }
  .icon-class {
    display: flex;
    position: relative;
    top: 50px;
    left: 400px;
    gap: 1rem;
    display: none;
    font-size: 1.5rem;
  }
  .icon-class .fa-arrow-left {
    color: #FF8585;
  }
  .icon-class .fa-arrow-right {
    color: #DA0000;
  }
}
@media (max-width: 430px) {
  .my-Header {
    display: flex;
    gap: 1.5rem;
    height: auto;
    flex-direction: column;
  }
  .skip-main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .hero-section img {
    display: block;
    margin: 1rem;
  }
  .all-dots {
    display: none;
  }
  .hero-section {
    display: flex;
    flex-direction: column;
    background-image: none;
    background-position: center top;
    background-size: contain;
    margin: 0;
  }
  .aero-content {
    position: relative;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.4);
    opacity: 1;
    padding: 1.5rem;
    width: 100%;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    z-index: 100;
  }
  .numbers-that-matter {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  .numbers-data {
    width: 380px;
    padding: 2rem;
  }
  .number-matter {
    width: 100%;
  }
  .my-card {
    width: 140px;
    height: 140px;
  }
  .card3 {
    left: 230px;
  }
  .card1 {
    left: 18px;
  }
  .card2 {
    right: 120px;
  }
  .card5 {
    left: 15px;
    top: 250px;
  }
  .card4 {
    top: 18px;
    left: 230px;
  }
  .explore-data-image {
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
  }
  .explore-content {
    width: 100%;
  }
  .explore-data-image img {
    height: 300px;
  }
  .overall-data hr {
    width: 90%;
  }
  .explore-data {
    gap: 0rem;
  }
  .explore-data p {
    font-size: 0.875rem;
  }
  .explore-data .v2 {
    height: 100px;
  }
  .data h3 {
    font-size: 20px;
  }
  .dpsu {
    flex-direction: column;
    margin-top: 1rem;
  }
  .dpsu-content {
    width: 80%;
    padding: 1rem;
  }
  .dpsu-image {
    width: 0;
    height: auto;
    display: none;
  }
  .idex-img {
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .idex-img img {
    width: 70%;
  }
  .idex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }
  .right-idex {
    width: 120%;
  }
  .left-container {
    top: 0;
  }
  .what-we-do {
    font-family: Poppins, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .we-do {
    flex-direction: column;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 7rem;
    width: 100%;
    margin-left: 0rem;
    padding-left: 0;
    padding: 2rem;
  }
  .what-we-do .v2-p {
    display: flex;
  }
  .content h2 {
    font-size: 2.625rem;
    font-weight: 700;
  }
  .content p {
    font-size: 1rem;
    font-weight: 300;
    width: 100%;
  }
  .content .v2 {
    border: 1px solid #DA0000;
  }
  .content-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem 0rem;
    margin-top: 3rem;
    gap: 1.5rem;
  }
  .content-card {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    opacity: 1;
    width: 300px;
    height: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1.5rem;
    gap: 1rem;
    transition: transform 0.3s ease;
  }
  .content-card:hover {
    transform: scale(1.05);
  }
  .icon-class {
    display: none;
  }
  .icon-class .fa-arrow-left {
    color: #FF8585;
  }
  .icon-class .fa-arrow-right {
    color: #DA0000;
  }
  .container2 {
    display: flex;
    flex-direction: column;
  }
  .latest-updates h2 {
    text-align: center;
  }
  .routing {
    justify-content: center;
    align-items: center;
  }
  .route {
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
  }
  .container1 {
    width: 233px;
  }
  .latest-card {
    width: 140%;
  }
  .core-card {
    width: 90%;
  }
  .our img {
    width: 90%;
  }
  .our img {
    width: 90%;
  }
  .our-content {
    width: 100%;
  }
  .email {
    gap: 1rem;
    flex-direction: column;
  }
  .subscribe-container {
    padding: 2rem;
  }
  .subscribe {
    flex-direction: column;
  }
}
@media (min-width: 431px) and (max-width: 768px) {
  .my-Header {
    display: flex;
    gap: 1.5rem;
    height: auto;
    flex-direction: column;
  }
  .skip-main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .hero-section img {
    display: block;
    margin: 1rem;
  }
  .all-dots {
    display: none;
  }
  .hero-section {
    display: flex;
    flex-direction: column;
    background-image: none;
    background-position: center top;
    background-size: contain;
    margin: 0;
  }
  .aero-content {
    position: relative;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.4);
    opacity: 1;
    padding: 1.5rem;
    width: 100%;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    z-index: 100;
  }
  .numbers-that-matter {
    flex-direction: column;
  }
  .number-matter {
    width: 80%;
  }
  .explore-data-image {
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
  }
  .explore-content {
    width: 100%;
  }
  .dpsu {
    flex-direction: column;
    margin-top: 1rem;
  }
  .dpsu-content {
    width: 80%;
  }
  .dpsu-image {
    width: 0;
    height: auto;
  }
  .dpsu-image img {
    width: 535px;
  }
  .laptop-content .explore-data {
    gap: 0;
  }
  .laptop-content .explore-data .v2 {
    height: 87px;
  }
  .laptop-content .explore-data h3 {
    white-space: nowrap;
  }
  .laptop-content .overall-data hr {
    width: 320px;
  }
  .laptop-content .data h3 {
    font-size: 70%;
  }
  .laptop-content .data p {
    font-size: 70%;
  }
  .laptop-content .data {
    padding: 0.8rem;
  }
  .left-container {
    top: 0;
    width: 100%;
  }
  .idex-img {
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .idex-img img {
    width: 80%;
  }
  .idex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .right-idex {
    width: 100%;
    padding: 1rem;
  }
  .what-we-do {
    font-family: Poppins, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .we-do {
    flex-direction: column;
    align-self: center;
    justify-content: center;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
    padding: 1rem;
    margin-top: 7rem;
    width: 100%;
    padding: 3rem;
    margin-left: 0rem;
  }
  .what-we-do .v2-p {
    display: flex;
  }
  .content h2 {
    font-size: 2.625rem;
    font-weight: 700;
  }
  .content p {
    font-size: 1rem;
    font-weight: 300;
    width: 100%;
  }
  .content .v2 {
    border: 1px solid #DA0000;
  }
  .content-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem 0rem;
    margin-top: 3rem;
    gap: 1.5rem;
  }
  .content-card {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    opacity: 1;
    width: 300px;
    height: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1.5rem;
    gap: 1rem;
    transition: transform 0.3s ease;
  }
  .content-card:hover {
    transform: scale(1.05);
  }
  .icon-class {
    display: none;
  }
  .icon-class .fa-arrow-left {
    color: #FF8585;
  }
  .icon-class .fa-arrow-right {
    color: #DA0000;
  }
}/*# sourceMappingURL=styles.css.map */